<launch>

<group ns="rov">
  <!-- Start gathering visual odometry -->
  <node name="visual_odometer" pkg="rtabmap_ros" type="rgbd_odometry" output="screen">
    <remap from="odom" to="visual_odom"/>
    <remap from="rgb/image" to="realsense_cam/color/image_raw"/>
    <remap from="rgb/camera_info" to="realsense_cam/color/camera_info"/>
    <remap from="depth/image" to="realsense_cam/depth/image_raw"/>
    <rosparam command="load" file="$(find rov_control)/config/rov_rtab_params.yaml"/>
  </node>

  <!-- Start Fusing IMU, VO, and Depth Sensor Odometry -->
  <node name="odom_filter" pkg="robot_localization" type="ekf_localization_node" outpu="screen">
    <rosparam command="load" file="$(find rov_control)/config/rov_robot_local_params.yaml"/>
  </node>
</group>


</launch>
