<launch>
  <!-- horizontal front/back y longitudinal pid node -->
    <node name="long_pid" pkg="pid" type="controller" output="screen" >
       <param name="Kp" value="5.0" />
       <param name="Ki" value="0.0" />
       <param name="Kd" value="0.1" />
       <param name="setpoint_topic" value="/rov/cmd_vel/linear/y" />
       <param name="topic_from_controller" value="" />
       <param name="topic_from_plant" value="" />
       <param name="upper_limit" value="1" />
       <param name="lower_limit" value="-1" />
       <param name="windup_limit" value="0.5" />
       <param name="max_loop_frequency" value="100.0" />
       <param name="min_loop_frequency" value="100.0" />
    </node>

  <!-- horizontal left/right x lateral pid node -->
    <node name="lat_pid" pkg="pid" type="controller" output="screen" >
       <param name="Kp" value="5.0" />
       <param name="Ki" value="0.0" />
       <param name="Kd" value="0.1" />
       <param name="setpoint_topic" value="/rov/cmd_vel/linear/x" />
       <param name="topic_from_controller" value="" />
       <param name="topic_from_plant" value="" />
       <param name="upper_limit" value="1" />
       <param name="lower_limit" value="-1" />
       <param name="windup_limit" value="0.5" />
       <param name="max_loop_frequency" value="100.0" />
       <param name="min_loop_frequency" value="100.0" />
    </node>

  <!-- vertical up/down z vertical pid node -->
    <node name="vert_pid" pkg="pid" type="controller" output="screen" >
       <param name="Kp" value="5.0" />
       <param name="Ki" value="0.0" />
       <param name="Kd" value="0.1" />
       <param name="setpoint_topic" value="/rov/cmd_vel/linear/z" />
       <param name="topic_from_controller" value="" />
       <param name="topic_from_plant" value="" />
       <param name="upper_limit" value="1" />
       <param name="lower_limit" value="-1" />
       <param name="windup_limit" value="0.5" />
       <param name="max_loop_frequency" value="100.0" />
       <param name="min_loop_frequency" value="100.0" />
    </node>

    <!-- angular x yaw pid node -->
    <node name="yaw_pid" pkg="pid" type="controller" output="screen" >
       <param name="Kp" value="5.0" />
       <param name="Ki" value="0.0" />
       <param name="Kd" value="0.1" />
       <param name="setpoint_topic" value="/rov/cmd_vel/angular/x" />
       <param name="topic_from_controller" value="" />
       <param name="topic_from_plant" value="" />
       <param name="upper_limit" value="1" />
       <param name="lower_limit" value="-1" />
       <param name="windup_limit" value="0.5" />
       <param name="max_loop_frequency" value="100.0" />
    </node>

    <!-- angular y pitch pid node -->
    <!-- setpoint always 0 -->
    <node name="pitch_pid" pkg="pid" type="controller" output="screen" >
       <param name="Kp" value="5.0" />
       <param name="Ki" value="0.0" />
       <param name="Kd" value="0.1" />
       <param name="setpoint_topic" value="/rov/cmd_vel/angular/y" />
       <param name="topic_from_controller" value="" />
       <param name="topic_from_plant" value="" />
       <param name="upper_limit" value="1" />
       <param name="lower_limit" value="-1" />
       <param name="windup_limit" value="0.5" />
       <param name="max_loop_frequency" value="100.0" />
       <param name="min_loop_frequency" value="100.0" />
    </node>

    <!-- angular z roll pid node -->
    <!-- setpoint always 0 -->
    <node name="roll_pid" pkg="pid" type="controller" output="screen" >
       <param name="Kp" value="5.0" />
       <param name="Ki" value="0.0" />
       <param name="Kd" value="0.1" />
       <param name="setpoint_topic" value="/rov/cmd_vel/angular/z" />
       <param name="topic_from_controller" value="" />
       <param name="topic_from_plant" value="" />
       <param name="upper_limit" value="1" />
       <param name="lower_limit" value="-1" />
       <param name="windup_limit" value="0.5" />
       <param name="max_loop_frequency" value="100.0" />
       <param name="min_loop_frequency" value="100.0" />
    </node>
  </launch>
